<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:fragment="header">

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">Index</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes" aria-expanded="false">Coach Alley <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li><a th:href="@{/login}">une page</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/}">une page</a></li>
                            <li><a th:href="@{/}">une page</a></li>
                            <li><a th:href="@{/}">une page</a></li>
                            <li><a th:href="@{/}">une page</a></li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/index}">Commander</a>
                    </li>
                    <li>
                        <a th:href="@{/forgetPassword}">Géolocalisation</a>
                    </li>
                    <li>
                        <a th:href="@{/}">Recrutement</a>
                    </li>
                    <li>
                        <a th:href="@{/}">Nous contacter</a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" aria-expanded="false"><b class=" glyphicon glyphicon-user"></b> Se Connecter</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{/log}"> Déjà Inscrit?</a>
                            </li>
                            <li>
                                <a th:href="@{/form}"> Nouvelle Inscription</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <h5 th:text="${#authentication.principal == 'anonymousUser'} ? 'utilisateur non connecté' : ${#authentication.principal.user.email}"></h5>
    <div th:if="${#authentication.principal != 'anonymousUser'}">
        <h5 th:each="role:${#authentication.principal.user.roles}"><div th:text="'a pour role : ' + ${role.name}"></div></h5>
    </div>


    <div th:text="${messageInfo != null} ? ${messageInfo}" th:class="${messageInfo != null} ? 'container alert alert-info'"></div>
    <div th:text="${messageSuccess != null} ? ${messageSuccess}" th:class="${messageSuccess != null} ? 'container alert alert-success'"></div>
    <div th:text="${messageDanger != null} ? ${messageDanger}" th:class="${messageDanger != null} ? 'container alert alert-danger'"></div>

</div>

</body>
</html>