<!DOCTYPE html>
<html  xmlns:th="http://www.thymeLeaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorator="fragments/principal">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">

    <!--<p th:text="${#httpServletRequest.scheme} + '://' + ${#httpServletRequest.serverName} + ':' + ${#httpServletRequest.serverPort}"></p>-->

    <h3 th:text="${username}"></h3>


</div>
</body>
</html>