<!DOCTYPE html>
<html  xmlns:th="http://www.thymeLeaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorator="fragments/principal">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">

    <form role="form" th:action="@{/forget}" method="post" th:object="${user}">
        <div >


                            <div class="col-md-offset-3 col-md-6 ">
                                <div class="form-group">
                                    <label>Mot de passe</label> <input class="form-control"
                                                                           type="text" th:field="*{password}"
                                                                           data-rule-required="true"
                                                                           data-msg-required="champs requis" />
                                    <span class="text-danger" th:errors="*{password}"></span>
                                </div>
                            </div>
                            <div class="col-md-offset-3 col-md-6 ">
                                <div class="form-group">
                                    <label>confirmer mot depasse</label> <input class="form-control" type="text"
                                                                autocomplete="off"
                                                                th:field="*{confirmPassword}"
                                                                data-rule-required="true" data-msg-required="champs requis"
                                                                data-rule-email="true"
                                                                data-msg-email="Veuillez entrer une adresse email valide" />
                                                        <span class="text-danger" th:errors="*{confirmPassword}"></span>
                                </div>
                            </div>





            <input th:value="${token}" name="token" type="hidden"/>

        </div>
        <div class="form-actions right">
            <button type="submit" class="btn btn-primary">Enregistrer</button>

        </div>
    </form>


</div>
</body>
</html>