<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/principal">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>

<div layout:fragment="javascript">
    <script th:src="@{/js/jquery.validate.js}"></script>
    <script th:src="@{/js/form_validators.js}"></script>
    <script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyC2twVFKkR1IUUw_35R1gagozLfZWrOnSY&amp;signed_in=true&amp;libraries=places&amp;callback=initAutocomplete}"
            async="async" defer="defer"></script>
    <script th:src="@{/js/autocompleteForm.js}"></script>
</div>

<div class="container" layout:fragment="content">

    <form id="signupForm" role="form" th:action="@{/new}" method="post" th:object="${user}">
        <div>

            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Nom</label>
                        <div class="light">
                        <input class="form-control" type="text"
                                                  placeholder="Nom" th:field="*{lastname}"/>
                        </div>
                        <span class="text-danger" th:errors="*{lastname}"></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label>Prenom</label>
                        <div class="light">
                        <input class="form-control" type="text"
                                                     placeholder="Prenom" th:field="*{firstname}"/>
                        </div>
                        <span class="text-danger" th:errors="*{firstname}"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 ">
                    <div class="form-group">
                        <label>Google autocompletion address</label>
                        <div class="light">
                            <input  class="text-center form-control" id="autocomplete" placeholder="Entrer votre adresse" type="text"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Adresse</label>
                        <div class="light">
                        <input class="form-control"
                                                      type="text" placeholder="Adresse" th:field="*{address}" readonly="readonly"/>
                        </div>
                        <span class="text-danger" th:errors="*{address}"></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Code postal</label>
                        <div class="light">
                        <input class="form-control" type="text" placeholder="Code postal" th:field="*{zipcode}" readonly="readonly"/>
                        </div>
                        <span class="text-danger" th:errors="*{zipcode}"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Ville</label>
                        <div class="light">
                        <input class="form-control" type="text"
                                                    placeholder="Ville" th:field="*{city}" readonly="readonly"/>
                        </div>
                        <span class="text-danger" th:errors="*{city}"></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Pays</label>
                        <div class="light">
                        <input class="form-control" type="text"
                                                   placeholder="Pays" th:field="*{country}" readonly="readonly"/>
                        </div>
                        <span class="text-danger" th:errors="*{country}"></span>
                    </div>
                </div>

            </div>

            <input type="hidden" th:field="*{geoLat}" readonly="readonly"/>
            <input type="hidden" th:field="*{geoLong}" readonly="readonly"/>

            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Téléphone mobile</label>
                        <div class="light">
                        <input class="form-control"
                                                               type="text" placeholder="n° tél." th:field="*{phone}"/>
                        </div>
                        <span class="text-danger" th:errors="*{phone}"></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Email</label>
                        <div class="light">
                        <input class="form-control" type="email"
                                                    autocomplete="off" placeholder="Email"
                                                    th:field="*{email}"
                                                    readonly="readonly"/>
                        </div>
                        <span class="text-danger" th:errors="*{email}"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Mot de passe</label>
                        <div class="light">
                        <input class="form-control"
                               type="password" th:field="*{password}"/>
                        </div>
                        <span class="text-danger" th:errors="*{password}"></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>confirmer mot depasse</label>
                        <div class="light">
                        <input class="form-control" type="password"
                                                                    autocomplete="off"
                                                                    th:field="*{confirmPassword}"/>
                        </div>
                        <span class="text-danger" th:errors="*{confirmPassword}"></span>
                    </div>
                </div>
            </div>


        </div>
        <div class="form-actions right">
            <button type="submit" class="btn btn-primary">Enregistrer</button>

        </div>
    </form>


</div>


</body>
</html>