<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/principal">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">

    <form id="signupForm" role="form" th:action="@{/new}" method="post" th:object="${user}">
        <div>

            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Nom</label>
                        <div class="light">
                        <input class="form-control" type="text"
                                                  placeholder="Nom" th:field="*{lastname}"/>
                        </div>
                        <span class="text-danger" th:errors="*{lastname}"></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label>Prenom</label>
                        <div class="light">
                        <input class="form-control" type="text"
                                                     placeholder="Prenom" th:field="*{firstname}"/>
                        </div>
                        <span class="text-danger" th:errors="*{firstname}"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Adresse</label>
                        <div class="light">
                        <input class="form-control"
                                                      type="text" placeholder="Adresse" th:field="*{address}"/>
                        </div>
                        <span class="text-danger" th:errors="*{address}"></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Code postal</label>
                        <div class="light">
                        <input class="form-control"
                                                          type="text" placeholder="Code postal"/>
                        </div>
                        <span class="text-danger" th:errors="*{zipcode}"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Ville</label>
                        <div class="light">
                        <input class="form-control" type="text"
                                                    placeholder="Ville" th:field="*{city}"/>
                        </div>
                        <span class="text-danger" th:errors="*{city}"></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Pays</label>
                        <div class="light">
                        <input class="form-control" type="text"
                                                   placeholder="Pays" th:field="*{country}"/>
                        </div>
                        <span class="text-danger" th:errors="*{country}"></span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Téléphone mobile</label>
                        <div class="light">
                        <input class="form-control"
                                                               type="text" placeholder="n° tél." th:field="*{phone}"/>
                        </div>
                        <span class="text-danger" th:errors="*{phone}"></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Email</label>
                        <div class="light">
                        <input class="form-control" type="email"
                                                    autocomplete="off" placeholder="Email"
                                                    th:field="*{email}"
                                                    readonly="readonly"/>
                        </div>
                        <span class="text-danger" th:errors="*{email}"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Mot de passe</label>
                        <div class="light">
                        <input class="form-control"
                               type="text" th:field="*{password}"/>
                        </div>
                        <span class="text-danger" th:errors="*{password}"></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>confirmer mot depasse</label>
                        <div class="light">
                        <input class="form-control" type="text"
                                                                    autocomplete="off"
                                                                    th:field="*{confirmPassword}"/>
                        </div>
                        <span class="text-danger" th:errors="*{confirmPassword}"></span>
                    </div>
                </div>
            </div>


        </div>
        <div class="form-actions right">
            <button type="submit" class="btn btn-primary">Enregistrer</button>

        </div>
    </form>


</div>


</body>
</html>