<!DOCTYPE html>
<html  xmlns:th="http://www.thymeLeaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorator="fragments/principal">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">

    <form role="form" th:action="@{/new}" method="post" th:object="${user}">
        <div >

            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Nom</label> <input class="form-control" type="text"
                                                  placeholder="Nom" th:field="*{lastname}"
                                                  data-rule-required="true"
                                                  data-msg-required="champs requis" />
                        <span class="text-danger" th:errors="*{lastname}"></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label>Prenom</label> <input class="form-control" type="text"
                                                     placeholder="Prenom" th:field="*{firstname}"
                                                     data-rule-required="true"
                                                     data-msg-required="champs requis" />
                        <span class="text-danger" th:errors="*{firstname}"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Adresse</label> <input class="form-control"
                                                      type="text" placeholder="Adresse" th:field="*{address}"
                                                      data-rule-required="true"
                                                      data-msg-required="champs requis" />
                        <span class="text-danger" th:errors="*{address}"></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Code postal</label> <input class="form-control"
                                                          type="text" placeholder="Code postal"
                                                          th:field="*{zipcode}"
                                                          data-rule-required="true" data-msg-required="champs requis" />
                        <span class="text-danger" th:errors="*{zipcode}"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Ville</label> <input class="form-control" type="text"
                                                    placeholder="Ville" th:field="*{city}"
                                                    data-rule-required="true"
                                                    data-msg-required="champs requis" />
                        <span class="text-danger" th:errors="*{city}"></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Pays</label> <input class="form-control" type="text"
                                                   placeholder="Pays" th:field="*{country}"
                                                   data-rule-required="true"
                                                   data-msg-required="champs requis" />
                        <span class="text-danger" th:errors="*{country}"></span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Téléphone mobile</label> <input class="form-control"
                                                               type="text" placeholder="n° tél." th:field="*{phone}"
                                                               data-rule-required="true"
                                                               data-msg-required="champs requis" />
                        <span class="text-danger" th:errors="*{phone}"></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Email</label> <input class="form-control" type="email"
                                                    autocomplete="off" placeholder="Email"
                                                    th:field="*{email}"
                                                    data-rule-required="true" data-msg-required="champs requis"
                                                    data-rule-email="true"
                                                    data-msg-email="Veuillez entrer une adresse email valide"
                    readonly="readonly"/>
                        <span class="text-danger" th:errors="*{email}"></span>
                    </div>
                </div>
            </div>


                      <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Mot de passe</label> <input class="form-control"
                                                                           type="text" th:field="*{password}"
                                                                           data-rule-required="true"
                                                                           data-msg-required="champs requis" />
                                    <span class="text-danger" th:errors="*{password}"></span>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>confirmer mot depasse</label> <input class="form-control" type="text"
                                                                autocomplete="off"
                                                                th:field="*{confirmPassword}"
                                                                data-rule-required="true" data-msg-required="champs requis"
                                                                data-rule-email="true"
                                                                data-msg-email="Veuillez entrer une adresse email valide" />
                                                        <span class="text-danger" th:errors="*{confirmPassword}"></span>
                                </div>
                            </div>
                        </div>




        </div>
        <div class="form-actions right">
            <button type="submit" class="btn btn-primary">Enregistrer</button>

        </div>
    </form>


</div>
</body>
</html>